<nav
    class="navbar navbar-expand-lg navbar-custom navbar-light bg-light sticky-top"
>
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Manajemen Task</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <span class="navbar-text me-3" id="userNameDisplay"></span>
                </li>
                <li class="nav-item">
                    <button
                        class="btn btn-outline-secondary btn-sm"
                        id="logoutButton"
                    >
                        Logout
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
